<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DựÁnMẫu">
        <activity
            android:name=".activity.ActivityDoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThongKeKhachHang"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThongKeSanPham"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThongKeDoanhThu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityNhanVien"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityKhachHang"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityHoaDon"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityGioHang"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySanPham"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDanhMuc"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityManHinhChinh"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDangNhap"
            android:exported="false" />
    </application>

</manifest>